body {
  font-family: "Outfit", sans-serif !important;
  /* font-optical-sizing: auto; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-actions button {
  padding: 0 20px !important;
}

.section-underline {
  text-decoration: none;
  position: relative;
}

.section-underline:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 12%;
  background: #D05A32;

  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
